<table class="table">
  <thead>
    <th>Name:</th>
  </thead>
  <tbody>
    <% games.decorate.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= link_to fa_icon("eye"), game %></td>
        <td><%= link_to fa_icon("trash"), [@user, game], method: :delete, data: {confirm: "Are you sure?"} if policy(@user).edit? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
