<table class="table">
  <thead>
    <th>Name:</th>
  </thead>
  <tbody>
    <% groups.decorate.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to fa_icon("eye"), group %></td>
      </tr>
    <% end %>
  </tbody>
</table>
