<% @users.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% group.each do |user| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
          <%= image_tag user.decorate.avatar, class: "info-box-icon" %>
          <div class="info-box-content">
            <span class="info-box-text">
              <%= link_to user.decorate, user%>
            </span>
            Contact me:
            <span class="info-box-number">
              <%= link_to "<i class='fa fa-envelope'></i>".html_safe, "mailto:#{user.email}" %>
              <%= link_to "<i class='fa fa-facebook'></i>".html_safe, "http://facebook.com/#{user.uid}", rel: "nofollow", target: "_blank" if user.provider.present? %>
            </span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div>
    <% end %>
  </div>
<% end %>
