<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="box box-default">
      <div class="box-header with-border">
        <i class="fa fa-users"></i>
        <h3 class="box-title">Games</h3>
        <%= link_to new_game_path, class: "btn btn-xs btn-primary btn-flat pull-right" do %>
          <i class="fa fa-plus"></i>
          New
        <% end if policy(:game).new? %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @games.decorate.each do |game| %>
            <tr>
              <td><%= game.name %></td>
              <td><%= link_to fa_icon("eye"), game %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
