@import "bootstrap/bootstrap.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "icheck.square.purple.css";
@import "theme/AdminLTE.css";
@import "theme/skin-purple.css";
@import "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css";

.full-height {
  min-height: 500px;
  height:     100%;
}

#group-map-canvas {
  height: 250px;
}
